<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
        <%- include('./header.ejs')  %> 

          
          <% if(page === 'adminhome') {%> 
            <a class="btn btn-secondary" href="/admin/post" role="button">create Post</a>
            <a class="btn btn-success" href="/admin/category" role="button">create Category</a>
          <% } %>


          <% if(page === 'post'){ %>
            <div class="row">
              <%- include('./post_form.ejs',{categories: categories,posts: []}) %>  
            </div>
            <div class="row">
              <%- include('./list_items.ejs',{page: 'Post', posts: posts, categories: undefined}) %>  
            </div>
            <% } %> 


          <%if(page === 'category'){%>
            
              <%- include('./category_form.ejs',{}) %>  
            
            <div class="row">
              <%- include('./list_items.ejs',{page: 'Category', categories: categories, posts: undefined}) %>  
            </div>
          <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      const editor=ClassicEditor
              .create( document.querySelector( '#editor' ) )
              .then( editor => {
                      console.log( editor );
              } )
              .catch( error => {
                      console.error( error );
              } );
              console.log(editor.getData())
</script>
</body>
</html>
